PLAYWRIGHT_BASE_URL=https://d365-uat.example.internal
PLAYWRIGHT_PLATFORM=d365
PLAYWRIGHT_ENVIRONMENT=uat
PLAYWRIGHT_SUITE=smoke
# AUTH_USERNAME=
# AUTH_PASSWORD=
# AUTH_STORAGE_STATE=.secrets/d365-uat-storage-state.json
